@import url(css/button-up.css);

/*?==============================================*/
/*?=======================Reset-styles=======================*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

input,
button {
    background: none;
    border: none;
}

input:active,
input:hover,
input:focus {
    background: none;
    border: none;
}

/*?==============================================*/
/*?=======================main-styles=======================*/

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

[class*='__container'] {
    max-width: 1190px;
    margin: 0 auto;
}

.title-decor {
    width: 35px;
    height: 3px;
    background-color: #252525;
    margin-top: 21px;
}

/*?==============================================?*/
/*?=======================header=======================?*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header img {
    vertical-align: middle;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 74px 10px 0 10px;
    align-items: center
}

.header__menu li {
    display: inline-block;
}

.menu__list {
    display: flex;
    width: 540px;
    gap: 10%;
    align-items: center;
    justify-content: flex-end;
}

.header__menu a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.94px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-image: linear-gradient(#4caf50, #4caf50);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 39% 2px;
    transition: background-size 0.2s;
    padding: 0 0 0 10px;
}

.header__menu a:hover {
    background-size: 100% 2px;
}

.burger {
    display: none;
    position: relative;
    height: 30px;
    width: 36px;
}

.burger span {
    display: block;
    position: absolute;
    width: 36px;
    height: 2px;
    background-color: #fff;
}

.burger span:nth-child(1) {
    top: 0;
    transition: 0.3s;
}

.burger span:nth-child(2) {
    top: calc(48%);
    transition: 0.3s;
}

.burger span:nth-child(3) {
    bottom: 0;
    transition: 0.3s;
}

.active span:nth-child(1) {
    transform: translateY(14px) rotate(-45deg);
}

.active span:nth-child(2) {
    transform: scale(0);
}

.active span:nth-child(3) {
    transform: translateY(-14px) rotate(45deg);
}

.slider-nums {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto 24px auto;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 9px;
}

.slider-nums {
    display: inline-block;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.152px;
    color: rgba(255, 255, 255, 0.437245);
}

.current {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 2.304px;
    color: #FFFFFF;
    text-decoration: line-through;
    text-decoration-color: #4caF50;
}

/*?==============================================?*/
/*?=======================main=======================?*/

.title {
    position: relative;
    width: 100%;
    background: url(../images/title-section/bg1.jpg) center no-repeat;
    min-height: 904px;
    transition: all ease 1s;
    background-size: cover;
}

.title__container {
    padding-top: 383px;
    z-index: 99;
    text-align: center;
}

.main__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 100px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main__descr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.28px;
    color: #FFFFFF;
    margin-top: 24px;
}

.we-are {
    padding: 130px 0 130px 0;
}

.we-are__container {
    position: relative;
    height: 560px;
    padding: 0 10px 0 10px;
}

.we-are__line {
    display: none;
}

.we-are__image {
    width: 309px;
    height: 391px;
    position: absolute;
}

.we-are__images {
    position: relative;
    height: 559px;
    max-width: 729px;
}

.we-are__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.we-are__image:nth-child(1) {
    top: 0;
    left: 193px;
    z-index: 5;
}

.we-are__image:nth-child(2) {
    background-color: #4caF50;
    top: 62px;
    left: 403px;
    z-index: 4;
    opacity: 80%;
}

.we-are__image:nth-child(3) {
    top: 168px;
    left: 613px;
    z-index: 3;
}

.we-are h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 2.304px;
    color: #333333;
    text-transform: uppercase;
}

.we-are span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 2.688px;
    color: #504E4E;
}

.we-are p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: 1.26px;
    color: #5B5858;
    max-width: 281px;
}

.we-are__title {
    position: absolute;
    top: 77px;
    left: 10px;
    z-index: 6;
}

.top__text {
    position: relative;
    max-width: 281px;
    margin-left: 51px;
    margin-top: 32px;
}

.top__text::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 14px;
    width: 20px;
    height: 2px;
    background-color: #353535;
}

.bot__text::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 14px;
    width: 20px;
    height: 2px;
    background-color: #353535;
}

.bot__text {
    position: absolute;
    bottom: 80px;
    right: 10px;
    z-index: 6;
}

/*?==============================================?*/
/*?=======================services=======================?*/


.services {
    width: 100%;
    background-color: #fbfbfb;
    padding: 130px 0 130px 0;
}

.services__container {
    padding: 0 10px 0 10px;
}

.services__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.services__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}

.services__cards hr {
    width: 45px;
    height: 3px;
    background-color: #252525;
    margin-top: 21px;
}

.card-content {
    width: 373px;
    height: 260px;
    padding: 50px 43px 0 43px;
    background-color: #fff;
}

.card-content__border {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 282px;
    height: 175px;
}

.card-content__header {
    display: flex;
    justify-content: space-between;
    width: 282px;
}

.card-content__title span {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.card-content__icon {
    padding: 12.5px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #dbdbdb;
}

.card-content__icon img {
    width: 25px;
    height: 25px;
}

.card-content__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 208%;
    letter-spacing: 1.008px;
    color: #777777;
    column-width: 282px;
    overflow: hidden;
}

.card-content__link {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #252525;
}

.card-content:hover {
    border-bottom: 3px solid #4caf50;
}

.card-content:hover span {
    color: #4caf50;
}

.card-content:hover hr {
    background-color: #4caF50;
}

.card-content__link:hover {
    color: #4caf50;
}

/*?==============================================?*/
/*?=======================latest=======================?*/

.latest {
    width: 100%;
    padding: 164px 0 164px 0;
}

.latest__container {
    padding: 0 10px 0 10px;
}

.latest__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}

.latest__nav {
    display: flex;
    align-items: center;
    gap: 41px;
    margin-top: 51px;
}

.latest__nav li {
    display: inline-block;
}

.latest__nav button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.832px;
    opacity: 0.3;
    color: #252525;
    text-transform: uppercase;
}

.latest__filter button:focus {
    opacity: 1;
}

.latest__container {
    padding: 0 10px 0 10px;
}

.latest__columns {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.latest__column-left,
.latest__column-right {
    display: flex;
    flex-direction: column;
    width: 556px;
    gap: 137px;
}

.latest__column-left {
    margin-top: 218px;
}

.latest__column-right {
    transform: translateY(-164px);
}

.column__block {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

[class*='column__title'] {
    display: block;
    position: absolute;
    z-index: 5;
    top: 268px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
    text-transform: uppercase;
}

[class*='column__img'] {
    width: 455px;
    height: 444px;
}


.column__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

[class*='column__text'] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 23px;
}

.latest__columns span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.152px;
    color: #252525;
}

.latest__columns p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.832px;
    color: #C2C2C2;
}

.latest__read-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.832px;
    color: #252525;
    text-transform: uppercase;
}

.latest__columns a:hover {
    text-decoration: line-through;
    text-decoration-color: #4caF50;
}

.column__title-left {
    text-align: right;
    right: 0;
    transition: 0.2s;
}

.column__title-right {
    text-align: left;
    transition: 0.2s;
}

.column__img-right {
    margin: 0 0 0 100px;
}

.column__text-right {
    text-align: right;
    margin: 23px 174px 0 0;
}

.column__text-left {
    text-align: left;
    margin: 23px 0 0 174px;
}

.column__block a:hover {
    text-decoration: line-through;
    text-decoration-color: #4caF50;
}

.column__block:hover .column__title-right {
    text-decoration: line-through;
    text-decoration-color: #4caF50;
}

.column__block:hover .column__title-left {
    text-decoration: line-through;
    text-decoration-color: #4caF50;
}

.latest__view-more {
    position: absolute;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2px;
    color: #252525;
    right: 0;
    bottom: 0;
    z-index: 99;
}

/*?==============================================?*/
/*?=======================team=======================?*/

.team {
    width: 100%;
    background-color: #fbfbfb;
}

.team__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}

.team__container {
    padding: 135px 10px 150px 10px;
}

.team__members {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.persons__card {
    position: relative;
    max-width: 370px;
    max-height: 398px;
    overflow: hidden;
}

.persons__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.persons__info {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    transform: translateY(57%);
    transition: 0.3s;
}

.persons__card:hover .persons__info {
    transform: translateY(0);
    opacity: 100%;
}

.persons__name,
.persons__position {
    font-family: 'Oswald';
    font-style: normal;
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    line-height: 27px;
    letter-spacing: 1.152px;
    color: #252525;
    text-align: center;
}

.persons__name {
    margin-top: 20px;
    text-transform: uppercase;
}

.persons__position {
    margin-top: 6px;
}

.persons__info hr {
    width: 45px;
    height: 2px;
    background: #252525;
    margin: 0 auto;
    margin-top: 9px;
}

.person__quote {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.008px;
    color: #777777;
    text-align: center;
    margin-top: 4px;
    padding-bottom: 4px;
}

/*?==============================================?*/
/*?=======================testimonial=======================?*/

.testimonial {
    width: 100%;
}

.testimonial__container {
    padding: 117px 10px 0 10px;
}

.testimonial__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 221%;
    text-align: center;
    letter-spacing: 0.896px;
    color: #373737;
    height: 250px;
    padding: 50px 0 10px 0;
}

.testimonial img {
    display: block;
}

.testimonial__quotes {
    width: 20px;
    height: 20px;
    margin: 30px auto 30px auto;
}

.testimonial__writer {
    text-align: center;
}

.testimonial__writer p {
    display: inline-block;
    text-align: center;
}

.testimonial__name {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1.152px;
    color: #373737;
    text-transform: uppercase;
}

.testimonial__position,
.testimonial__separator {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.896px;
    color: #B8B8B8;
}

.testimonial__separator {
    font-size: 18px;
    line-height: 27px;
}

.testimonial__stars {
    margin: 0 auto;
    margin-top: 25px;
}

.slider-arrows {
    display: flex;
    justify-content: space-between;
}

.slider-arrows button {
    opacity: 50%;
}

.slider-arrows__left:hover,
.slider-arrows__right:hover {
    opacity: 100%;
}

.testimonial hr {
    max-width: 511px;
    height: 1px;
    margin: 11px auto 0 auto;
    background-color: #d8d8d8;
}

/*?==============================================?*/
/*?=======================contacts=======================?*/

.contacts {
    width: 100%;
}

.contacts__container {
    display: flex;
    width: 100%;
    padding: 117px 0 0 0;
}

.contacts__work-together {
    width: 50%;
    background-color: #fbfbfb;
    transition: 0.2s;
}

.contacts__contact-us {
    width: 50%;
    background-color: #70bd59;
    transition: 0.3s;
}

.contacts__contact-us:hover {
    background-color: #68af53;
}

.contacts__work-together:hover {
    background-color: #f0f0f0;
}

.contacts__left,
.contacts__right {
    text-align: center;
    padding: 69px 0 69px 0;
}

.contacts__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.66667px;
    color: #373737;
    margin-top: 19px;
}

.contacts__descr {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.55556px;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 20px;
}

.contacts__link {
    margin: 15px auto 0 auto;
    width: 9px;
    height: 9px;
}

.contacts__arrow {
    width: 12px;
    height: 12px;
}

.contacts__left .contacts__title,
.contacts__left .contacts__descr {
    color: #fff;
}

/*?==============================================?*/
/*?=======================footer=======================?*/

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__top {
    width: 100%;
    background-color: #2e2e2e;
}

.footer__top {
    padding: 40px 0 40px 0;
}

.footer__content {
    margin: 0 auto;
    text-align: center;
    padding: 1px;
}

.footer__adress,
.footer__contacts {
    display: block;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.832px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer__adress {
    margin-top: 29px;
}

.footer__contacts {
    margin-top: 10px;
}

.footer__social-links {
    display: flex;
    gap: 21px;
    justify-content: center;
    margin-top: 39px;
}

.social__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 50%;
}

.social__icon:hover {
    opacity: 100%;
}

.social__icon img {
    width: 32px;
    height: 32px;
}

.footer__copyrights {
    width: 100%;
    background-color: #252525;
    padding: 20px 0 28px 0;
}

.copyrights__text {
    display: block;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.832px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-align: center;
}

/*?==============================================?*/
/*?=======================media=======================?*/

@media (max-width: 1199.98px) {

    .header__container {
        display: flex;
        justify-content: space-between;
        padding: 74px 20px 0 20px;
    }

    [class*='__title'] {
        text-align: center;
    }

    .title-decor {
        margin: 0 auto;
    }

    .main__title {
        font-size: 60px;
    }

    .we-are {
        padding: 100px 0 100px 0;
    }

    .we-are__container {
        height: auto;
    }

    .we-are__line {
        display: block;
        width: 35px;
        height: 3px;
        margin: 0 auto;
        margin-top: 5px;
        background-color: #333333;
    }

    .services {
        padding: 100px 0 100px 0;
    }

    .latest {
        padding: 100px 0 100px 0;
    }

    .latest__nav {
        justify-content: center;
    }

    .we-are__title {
        position: static
    }

    .we-are__title h2 {
        text-align: center;
    }

    .we-are__title span {
        display: block;
        text-align: center;
    }

    .column__pic {
        display: block;
        width: 50%;
        height: 50%;
        object-fit: cover;
        margin: 0 auto;
    }

    .column__text-left,
    .column__text-right {
        text-align: center;
        margin: 23px 0 0 0;

    }

    .top__text,
    .bot__text {
        position: static;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }

    .top__text::before,
    .bot__text::after {
        display: none;
    }

    .we-are__images {
        display: none;
    }

    .latest__columns {
        flex-direction: column;
    }

    .latest__column-left,
    .latest__column-right {
        width: 100%;
    }

    .latest__column-right {
        transform: translateY(0);
        margin-top: 137px;
    }

    .column__img-right {
        margin: 0;
    }

    .latest__view-more {
        position: static;
        text-align: center;
        margin: 40px 0 0 0;
    }

    .services__title {
        text-align: center;
    }

    .services__cards {
        flex-direction: column;
        gap: 20px;
    }

    .card-content {
        margin: 0 auto;
    }

    .team {
        padding: 100px 0 100px 0;
    }

    .team__container {
        padding: 0 10px 0 10px;
    }

    .team__members {
        gap: 20px;
        flex-direction: column;
    }

    .persons__card {
        margin: 0 auto;
        flex: 0 0 auto;
    }

    .contacts__container {
        flex-direction: column;
    }

    .contacts__work-together,
    .contacts__contact-us {
        width: 100%;
    }

    .column__title-left,
    .column__title-right {
        position: absolute;
        text-align: inherit;
        top: 0%;
        margin: 0 auto;
        transition: 0.2s;
    }

    .latest .column__title-left {
        text-align: right;
    }

    .latest .column__title-right {
        text-align: left;
    }

    [class*='column__img'] {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .testimonial {
        padding: 100px 0 100px 0;
    }

    .testimonial__container {
        padding: 0 10px 0 10px;
    }

    .contacts__container {
        padding: 0;
    }

    .contacts__right,
    .contacts__left {
        padding: 30px 0 30px 0;
    }
}

/*!==============================================!*/
/*!=======================800px=======================!*/


@media (max-width: 799.98px) {

    .overflow-off {
        overflow: hidden;
    }

    .header {
        background-color: #333333;
        padding: 10px 10px 20px 10px;
        position: fixed;
    }

    .header__container {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
    }

    .main__title {
        font-size: 60px;
    }

    .title__container {
        padding-top: 45%;
    }

    .menu__nav {
        position: absolute;
        top: 83px;
        left: -200%;
        height: 100vh;
        width: 100vw;
        background-color: #333333;
        padding: 50px 0 0 20px;
        transition: 0.3s;
        overflow: auto;
    }

    .menu-active {
        left: 0;
    }

    .menu__list {
        width: auto;
        align-items: flex-start;
    }

    .burger {
        display: block;
    }

    .menu__nav a {
        font-size: 50px;
    }

    .menu__list {
        flex-direction: column;
        gap: 60px;
    }

    .latest .column__title-left,
    .latest .column__title-right {
        font-size: 48px;
        line-height: 147%;
        padding: 20px;
    }

    .latest__nav {
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 51px;
    }

    .latest__column-left {
        margin-top: 51px;
    }

    .column__pic {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .services__cards hr {
        display: none;
    }

    .card-content__header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .card-content {
        width: auto;
        height: auto;
        padding: 50px 10px 0 10px;
    }

    .card-content__border {
        gap: 10px;
        height: auto;
    }

    .services__cards {
        text-align: center;
    }

    .team__members {
        flex-direction: column;
    }

    .testimonial {
        padding: 50px 0 50px 0;
    }

    .testimonial__container {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .testimonial__text {
        height: auto;
    }

    .footer__top {
        padding: 15px 0 15px 0;
    }

}

@media (max-width: 489.98px) {

    .main__title {
        font-size: 50px;
    }

    .testimonial {
        padding: 0;
    }

    .testimonial__text {
        padding: 25px 0 10px 0;
    }

    .latest .column__title-left,
    .latest .column__title-right {
        font-size: 28px;
        line-height: 147%;
        padding: 20px;
    }

    .latest .column__title-left {
        text-align: right;
    }

    .latest .column__title-right {
        text-align: left;
    }
}

@media (max-width: 399.98px) {
    .main__title {
        font-size: 35px;
        line-height: 62px;
        padding-top: 45%;
    }
}
